services:
  backend:
    image: "${AWS_ACCOUNT}.dkr.ecr.${AWS_REGION}.amazonaws.com/${SERVICE}-${STAGE}-ecr-backend:${VERSION}"
    container_name: "backend"
    env_file:
      - ./.env
    build:
      context: ./
      dockerfile: ./docker/Dockerfile.backend
    ports:
      - 5000:80